/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #029e6b;
}

header img {
    width: 200px;
    height: 100px;
    margin-right: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ccc;
}

section {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 40px;
}

.banner p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.resumo {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.links-rapidos {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.links-rapidos ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.links-rapidos li {
    margin-right: 20px;
}

.links-rapidos a {
    color: #337ab7;
    text-decoration: none;
}

.links-rapidos a:hover {
    color: #23527c;
}

.historia {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.missao-visao-valores {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.missao-visao-valores p{
    margin-left: 20px;
}

.topics {
    background-color: #f0f0f0;
    padding: 20px;
}
  
.topics ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.topics li {
    margin-bottom: 20px;
}
  
.topics h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.topics p {
    font-size: 16px;
    margin-bottom: 20px;
}

.equipe ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.equipe li {
    width: 30%;
    margin-bottom: 20px;
}

.equipe img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.parceiros ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parceiros li {
    width: 25%;
    margin-bottom: 20px;
}

.parceiros img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.mapeamento-atores {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.identificacao-categorizacao {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.dashboard-personalizavel {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.ferramentas-analise-avancada {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.compartilhamento-experiencias {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.projeto-fase-atual {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.projeto-fase-concluidos {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.fase-futuros-projeto {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.documentacao {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.faqs {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.downloads {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
}

form label {
    width: 100%;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #029e6b;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #008c5f;
}

.informacoes-contato {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.mapa {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.redes-sociais {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.redes-sociais ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.redes-sociais li {
    margin-right: 20px;
}

.redes-sociais a {
    color: #337ab7;
    text-decoration: none;
}

.redes-sociais a:hover {
    color: #23527c;
}

footer {
    background-color: #029e6b;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

footer p {
    color: #fff;
    margin: 0;
}

@media (max-width: 768px) {
    header {
        position: static;
    }

    .banner h1 {
        font-size: 24px;
    }

    .banner p {
        font-size: 18px;
    }

    .equipe li {
       width: 45%;
    }

    .parceiros li {
        width: 30%;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        width: 100%;
    }
}